!!!5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
%html.no-js
    %head
        %meta{:charset => "utf-8"}

        -# http equiv
        -# =================================================================
        = http_equiv


        -# Site title
        -# =================================================================
        %title Book title - Poin



        -# Description
        -# =================================================================
        %meta{:name => "description", :content => "A new place to write and organize your \"How Was It\". Available for your iPhone."}


        -# Name of Author
        -# =================================================================
        %meta{:name => "author", :content => "Poin"}


        -# Viewport
        -# =================================================================
        = viewport


        -# Open Graph Protocols
        -# =================================================================
        = og


        -# Cascade Style Sheets
        -# =================================================================
        = stylesheet_link_tag "all"
        %link{:href => "../webfonts/ss-social-regular.css", :rel => "stylesheet", :type => "text/css"}/


        -# Favicon
        -# =================================================================
        %link{:href => "/favicon.ico", :rel => "shortcut icon"}

        -# iPad 3 Retina Display
        %link{:rel => "apple-touch-icon-precomposed", :sizes => "144x144", :href => "/img/touch/apple-touch-icon-144x144-precomposed.png"}

        -# iPhone 4 Retina display
        %link{:rel => "apple-touch-icon-precomposed", :sizes => "114x114", :href => "/img/touch/apple-touch-icon-114x114-precomposed.png"}


        -# Modernizer
        -# =================================================================
        = javascript_include_tag "vendor/modernizr-2.6.1.min"


    %body
        /[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgradae to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>

        .outer
            .inner-wrap
            
                .book--wrapper
                    = yield



                    


        = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"
        
        :javascript
            !window.jQuery && document.write('<script src="javascripts/vendor/jquery-1.8.0.min.js"><\/script>')
      
        = javascript_include_tag "script_book"
        = javascript_include_tag "/webfonts/ss-social"

        :javascript

            NProgress.start();
            $(window).load(function() {
                setTimeout(function() { NProgress.done(); } );
            });


        -#Connect with google analytics
        = partial "partials/google_analytics"

